<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">

<head th:replace="fragments/cdn :: cdn"></head>

<body>
    <div th:insert="fragments/nav :: navbar"></div>

    <div class="container">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active">
                <a th:href="@{/}">APIs</a>
            </li>
            <li role="presentation">
                <a th:href="@{/balance}">Balances</a>
            </li>
            <li role="presentation">
                <a th:href="@{/transactions}">Transactions</a>
            </li>
        </ul>

        <div class="jumbotron custom-jumbotron">
            <h2><strong>APIs</strong></h2>
            <table class="table table-hover custom-table">
				<thead>
					<tr>
						<th style="width: 200px;">Method</th>
						<th style="width: 200px;">URL</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Balance</td>
						<td>
							<a href="/api/accounts/balance">https://sandbox.platfr.io/api/gbs/banking/v4.0/accounts/14537780/balance</a>
						</td>
					</tr>
					<tr>
						<td>Transactions</td>
						<td>
							<a th:href="@{/transactionsForm}">https://sandbox.platfr.io/api/gbs/banking/v4.0/accounts/14537780/transactions?fromAccountingDate=2019-01-01&toAccountingDate=2019-02-01</a>
						</td>
					</tr>
					<tr>
						<td>Transfer</td>
						<td>
							<a href="/api/accounts/transfer">https://sandbox.platfr.io/api/gbs/banking/v4.0/accounts/14537780/payments/money-transfers</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


	</div>
	<footer th:include="fragments/footer :: footer"></footer>
</body>

</html>